<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EmployeeData</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Insert</servlet-name>
  	<servlet-class>servlet.InsertData</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>Insert</servlet-name>
  	<url-pattern>/InsertData</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>Delete</servlet-name>
  	<servlet-class>servlet.DeleteData</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>Delete</servlet-name>
  	<url-pattern>/DeleteData</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>ShowData</servlet-name>
  	<servlet-class>servlet.ShowData</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>ShowData</servlet-name>
  	<url-pattern>/ShowData</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UpdateData</servlet-name>
  	<servlet-class>servlet.UpdateData</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>UpdateData</servlet-name>
  	<url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EditData</servlet-name>
  	<servlet-class>servlet.EditData</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>EditData</servlet-name>
  	<url-pattern>/EditData</url-pattern>
  </servlet-mapping>
</web-app>